<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.myztrix.agent</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Applications/MyztrixAgent.app/Contents/MacOS/MyztrixAgent</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/tmp/myztrix.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/myztrix.err</string>
</dict>
</plist>

